/* Hamburger Menu Shared Styles */
%hamburger-menu
  width: 60px
  height: 45px
  position: relative
  margin: 50px auto
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer
  background-color: transparent
  border: none
  &:focus
    outline: none
  span
    display: block
    position: absolute
    height: 9px
    background: $hamburger-menu--color
    opacity: 1
    transform: rotate(0deg)
    transition: .25s ease-in-out
    width: 100%
    border-radius: 9px
    left: 0


/* Hamburger Menu Type 1 */
.hamburger-menu-1
  @extend %hamburger-menu
  span
    &:nth-child(1)
      top: 0px
    &:nth-child(2)
      top: 18px
    &:nth-child(3)
      top: 36px
    &:nth-child(4),&:nth-child(5),&:nth-child(6)
      display: none
  &:not(.collapsed)
    span
      &:nth-child(1)
        top: 18px
        transform: rotate(135deg)
      &:nth-child(2)
        opacity: 0
        left: -60px
      &:nth-child(3)
        top: 18px
        transform: rotate(-135deg)


/* Hamburger Menu Type 2 */
.hamburger-menu-2
  @extend %hamburger-menu
  span
    width: 50%
    &:nth-child(even)
      left: 50%
      border-radius: 0 9px 9px 0
    &:nth-child(odd)
      left: 0px
      border-radius: 9px 0 0 9px
    &:nth-child(1),&:nth-child(2)
      top: 0px
    &:nth-child(3),&:nth-child(4)
      top: 18px
    &:nth-child(5),&:nth-child(6)
      top: 36px
  &:not(.collapsed)
    span
      &:nth-child(1),&:nth-child(6)
        transform: rotate(45deg)
      &:nth-child(2),&:nth-child(5)
        transform: rotate(-45deg)
      &:nth-child(1)
        left: 5px
        top: 7px
      &:nth-child(2)
        left: calc(50% - 5px)
        top: 7px
      &:nth-child(3)
        left: -50%
        opacity: 0
      &:nth-child(4)
        left: 100%
        opacity: 0
      &:nth-child(5)
        left: 5px
        top: 29px
      &:nth-child(6)
        left: calc(50% - 5px)
        top: 29px


/* Hamburger Menu Type 3 */
.hamburger-menu-3
  @extend %hamburger-menu
  span
    &:nth-child(1)
      top: 0px
    &:nth-child(2),&:nth-child(3)
      top: 18px
    &:nth-child(4)
      top: 36px
    &:nth-child(5),&:nth-child(6)
      display: none
  &:not(.collapsed)
    span
      &:nth-child(1)
        top: 18px
        width: 0%
        left: 50%
      &:nth-child(2)
        transform: rotate(45deg)
      &:nth-child(3)
        transform: rotate(-45deg)
      &:nth-child(4)
        top: 18px
        width: 0%
        left: 50%


/* Hamburger Menu Type 4 */
.hamburger-menu-4
  @extend %hamburger-menu
  span
    transform-origin: left center
    &:nth-child(1)
      top: 0px
    &:nth-child(2)
      top: 18px
    &:nth-child(3)
      top: 36px
    &:nth-child(4),&:nth-child(5),&:nth-child(6)
      display: none
  &:not(.collapsed)
    span
      &:nth-child(1)
        transform: rotate(45deg)
        top: -3px
        left: 8px
      &:nth-child(2)
        width: 0%
        opacity: 0
      &:nth-child(3)
        transform: rotate(-45deg)
        top: 39px
        left: 8px


