/* Hamburger Menu Settings */
$hamburger-menu--rounded: true
$hamburger-menu--debug: false
$hamburger-menu--color: #d3531a
$hamburger-menu--width: 100%
$hamburger-menu--thickness: 25%
$hamburger-menu--size: 44px



/* Hamburger Menu Shared Styles */
%hamburger-menu
  width: $hamburger-menu--size
  height: $hamburger-menu--size
  position: relative
  margin: 0
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer
  background-color: transparent
  border: none
  padding: 0
  &:focus
    outline: none
  span
    display: block
    position: absolute
    height: $hamburger-menu--thickness
    background: $hamburger-menu--color
    opacity: 1
    transform: rotate(0deg)
    transition: .25s ease-in-out
    width: 100%
    left: 0
    @if($hamburger-menu--rounded)
      border-radius: $hamburger-menu--size/3
  @if($hamburger-menu--debug)
    span, button
      outline: 1px solid blue



/* Hamburger Menu Type 1 */
.hamburger-menu-1
  @extend %hamburger-menu
  span
    &:nth-child(1),&:nth-child(3)
      top: 50% - $hamburger-menu--thickness/2
    &:nth-child(1)
      transform: rotate(135deg)
    &:nth-child(2)
      opacity: 0
      left: 100%
    &:nth-child(3)
      transform: rotate(-135deg)
    &:nth-child(4),&:nth-child(5),&:nth-child(6)
      display: none
  &.collapsed span
    &:nth-child(1)
      top: 0
      transform: rotate(0)
    &:nth-child(2)
      top: 50% - $hamburger-menu--thickness/2
      opacity: 1
      left: 0
    &:nth-child(3)
      top: 100% - $hamburger-menu--thickness
      transform: rotate(0)


/* Hamburger Menu Type 2 */
.hamburger-menu-2
  @extend %hamburger-menu
  span
    width: 50%
    &:nth-child(1),&:nth-child(6)
      transform: rotate(45deg)
    &:nth-child(2),&:nth-child(5)
      transform: rotate(-45deg)
    &:nth-child(3),&:nth-child(4)
      opacity: 0
    &:nth-child(1),&:nth-child(2)
      top: 22%
    &:nth-child(5),&:nth-child(6)
      top: 55%
    &:nth-child(1),&:nth-child(5)
      left: 8%
    &:nth-child(2),&:nth-child(6)
      left: 40%
    &:nth-child(3)
      left: -50%
    &:nth-child(4)
      left: 100%
  &.collapsed span
    transform: rotate(0)
    opacity: 1
    &:nth-child(even)
      left: 50%
      @if($hamburger-menu--rounded)
        border-radius: 0 $hamburger-menu--size/3 $hamburger-menu--size/3 0
    &:nth-child(odd)
      left: 0
      @if($hamburger-menu--rounded)
        border-radius: $hamburger-menu--size/3 0 0 $hamburger-menu--size/3
    &:nth-child(1),&:nth-child(2)
      top: 0
    &:nth-child(3),&:nth-child(4)
      top: 50% - $hamburger-menu--thickness/2
    &:nth-child(5),&:nth-child(6)
      top: 100% - $hamburger-menu--thickness


/* Hamburger Menu Type 3 */
.hamburger-menu-3
  @extend %hamburger-menu
  span
    &:nth-child(1)
      opacity: 0
      top: 0
    &:nth-child(2)
      top: 50% - $hamburger-menu--thickness/2
      transform: rotate(45deg)
    &:nth-child(3)
      top: 50% - $hamburger-menu--thickness/2
      transform: rotate(-45deg)
    &:nth-child(4)
      top: 100% - $hamburger-menu--thickness
      opacity: 0
    &:nth-child(5),&:nth-child(6)
      display: none
  &.collapsed span
    transform: rotate(0)
    opacity: 1


/* Hamburger Menu Type 4 */
.hamburger-menu-4
  @extend %hamburger-menu
  span
    top: 50% - $hamburger-menu--thickness/2
    &:nth-child(1)
      transform: rotate(45deg)
    &:nth-child(2)
      width: 0
      opacity: 0
    &:nth-child(3)
      transform: rotate(-45deg)
    &:nth-child(4),&:nth-child(5),&:nth-child(6)
      display: none
  &.collapsed span
    transform-origin: left center
    transform: rotate(0)
    &:nth-child(1)
      top: 0
    &:nth-child(2)
      top: 50% - $hamburger-menu--thickness/2
      width: 100%
      opacity: 1
    &:nth-child(3)
      top: 100% - $hamburger-menu--thickness

