@import "animated-hamburger-menu"

*
  box-sizing: border-box

body
  background-color: #000
  color: #fff

.title
  text-align: center
  font-size: 50px

[class^='hamburger-menu']
  margin: 0 auto
  display: block

