/* Hamburger Menu Settings */
/* Hamburger Menu Shared Styles */
.hamburger-menu-1, .hamburger-menu-2, .hamburger-menu-3, .hamburger-menu-4 {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0; }
  .hamburger-menu-1:focus, .hamburger-menu-2:focus, .hamburger-menu-3:focus, .hamburger-menu-4:focus {
    outline: none; }
  .hamburger-menu-1 span, .hamburger-menu-2 span, .hamburger-menu-3 span, .hamburger-menu-4 span {
    display: block;
    position: absolute;
    height: 25%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    width: 100%;
    left: 0;
    border-radius: 33.3333333333px; }

/* Hamburger Menu Type 1 */
.hamburger-menu-1 span:nth-child(1), .hamburger-menu-1 span:nth-child(3) {
  top: 37.5%; }

.hamburger-menu-1 span:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.hamburger-menu-1 span:nth-child(2) {
  opacity: 0;
  left: 100%; }

.hamburger-menu-1 span:nth-child(3) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.hamburger-menu-1 span:nth-child(4), .hamburger-menu-1 span:nth-child(5), .hamburger-menu-1 span:nth-child(6) {
  display: none; }

.hamburger-menu-1.collapsed span:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

.hamburger-menu-1.collapsed span:nth-child(2) {
  top: 37.5%;
  opacity: 1;
  left: 0; }

.hamburger-menu-1.collapsed span:nth-child(3) {
  top: 75%;
  -webkit-transform: rotate(0);
          transform: rotate(0); }

/* Hamburger Menu Type 2 */
.hamburger-menu-2 span {
  width: 50%; }
  .hamburger-menu-2 span:nth-child(1), .hamburger-menu-2 span:nth-child(6) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .hamburger-menu-2 span:nth-child(2), .hamburger-menu-2 span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .hamburger-menu-2 span:nth-child(3), .hamburger-menu-2 span:nth-child(4) {
    opacity: 0; }
  .hamburger-menu-2 span:nth-child(1), .hamburger-menu-2 span:nth-child(2) {
    top: 22%; }
  .hamburger-menu-2 span:nth-child(5), .hamburger-menu-2 span:nth-child(6) {
    top: 55%; }
  .hamburger-menu-2 span:nth-child(1), .hamburger-menu-2 span:nth-child(5) {
    left: 8%; }
  .hamburger-menu-2 span:nth-child(2), .hamburger-menu-2 span:nth-child(6) {
    left: 40%; }
  .hamburger-menu-2 span:nth-child(3) {
    left: -50%; }
  .hamburger-menu-2 span:nth-child(4) {
    left: 100%; }

.hamburger-menu-2.collapsed span {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1; }
  .hamburger-menu-2.collapsed span:nth-child(even) {
    left: 50%;
    border-radius: 0 33.3333333333px 33.3333333333px 0; }
  .hamburger-menu-2.collapsed span:nth-child(odd) {
    left: 0;
    border-radius: 33.3333333333px 0 0 33.3333333333px; }
  .hamburger-menu-2.collapsed span:nth-child(1), .hamburger-menu-2.collapsed span:nth-child(2) {
    top: 0; }
  .hamburger-menu-2.collapsed span:nth-child(3), .hamburger-menu-2.collapsed span:nth-child(4) {
    top: 37.5%; }
  .hamburger-menu-2.collapsed span:nth-child(5), .hamburger-menu-2.collapsed span:nth-child(6) {
    top: 75%; }

/* Hamburger Menu Type 3 */
.hamburger-menu-3 span:nth-child(1) {
  opacity: 0;
  top: 0; }

.hamburger-menu-3 span:nth-child(2) {
  top: 37.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger-menu-3 span:nth-child(3) {
  top: 37.5%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.hamburger-menu-3 span:nth-child(4) {
  top: 75%;
  opacity: 0; }

.hamburger-menu-3 span:nth-child(5), .hamburger-menu-3 span:nth-child(6) {
  display: none; }

.hamburger-menu-3.collapsed span {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1; }

/* Hamburger Menu Type 4 */
.hamburger-menu-4 span {
  top: 37.5%; }
  .hamburger-menu-4 span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .hamburger-menu-4 span:nth-child(2) {
    width: 0;
    opacity: 0; }
  .hamburger-menu-4 span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .hamburger-menu-4 span:nth-child(4), .hamburger-menu-4 span:nth-child(5), .hamburger-menu-4 span:nth-child(6) {
    display: none; }

.hamburger-menu-4.collapsed span {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotate(0);
          transform: rotate(0); }
  .hamburger-menu-4.collapsed span:nth-child(1) {
    top: 0; }
  .hamburger-menu-4.collapsed span:nth-child(2) {
    top: 37.5%;
    width: 100%;
    opacity: 1; }
  .hamburger-menu-4.collapsed span:nth-child(3) {
    top: 75%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #000;
  color: #fff; }

.title {
  text-align: center;
  font-size: 50px; }

[class^='hamburger-menu'] {
  margin: 0 auto;
  display: block; }

#original-repo {
  color: red;
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px; }
/*# sourceMappingURL=styles.css.map */