doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Animated Close Buttons For 
    link(rel='stylesheet', href='css/styles.css')
  body

    h1.title Option 1
    button.hamburger-menu-1.collapsed
      span
      span
      span
      span
      span
      span

    h1.title Option 2
    button.hamburger-menu-2.collapsed
      span
      span
      span
      span
      span
      span

    h1.title Option 3
    button.hamburger-menu-3.collapsed
      span
      span
      span
      span
      span
      span

    h1.title Option 4
    button.hamburger-menu-4.collapsed
      span
      span
      span
      span
      span
      span


    script(src='bower_components/jquery/dist/jquery.js')
    script(src='js/scripts.js')

