doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title animated close button
    link(rel='stylesheet', href='css/styles.css')
  body
    div#nav-icon1
      span
      span
      span

    div#nav-icon2
      span
      span
      span
      span
      span
      span

    div#nav-icon3
      span
      span
      span
      span

    div#nav-icon4
      span
      span
      span
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='js/scripts.js')

